.navbarBrandIcon {
  width: 200px;
  flex: 1;
  max-height: 100%;
  object-fit: cover;
}
.navbarBrandWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.accs {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 17px;
}
.navbarLink,
.navbarLink3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-12xs);
}
.navbarLink3 {
  border-right: 1px solid var(--color-yellowgreen-100);
}
.image1Icon,
.navbarMenu {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
}
.navbarMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.image1Icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.mores {
  width: 113px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mores,
.mores1,
.mores2 {
  height: 80px;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  box-sizing: border-box;
}
.mores1 {
  width: 97px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mores2 {
  width: 88px;
}
.mores2,
.navbarContent,
.navbarcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbarContent {
  flex: 1;
  justify-content: space-between;
}
.navbarcontainer {
  align-self: stretch;
  border-bottom: 1px solid var(--color-yellowgreen-200);
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
}
.leLaboratoire {
  position: relative;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.chevronBotIcon {
  width: 9px;
  position: relative;
  height: 5px;
}
.laboratoire,
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.navList {
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl);
  gap: var(--gap-5xl);
}
.menuIcon {
  height: 23px;
  width: 34px;
  position: relative;
  display: none;
}
.header,
.mainNav {
  align-self: stretch;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-xs);
}
.mainNav {
  margin: 0;
  height: 43px;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--prim-light);
  font-family: var(--title5);
}
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--color-aliceblue);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-40xl);
  gap: var(--gap-6xs);
  color: var(--primary);
}
.heroNoImageChild {
  width: 1384.6px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 762.8px);
  left: calc(50% - 692.3px);
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ebf5fa,
    #ebf5fa 18.5%,
    #f1faff 55.5%,
    rgba(241, 250, 255, 0) 94.5%
  );
  height: 998.3px;
  z-index: 0;
}
.matriaux {
  color: var(--secondary);
}
.span {
  white-space: pre-wrap;
}
.recherchesEnMatriauxContainer {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.enSavoirPlus,
.leCentreDe,
.recherchesEnMatriauxContainer {
  position: relative;
  letter-spacing: -0.03em;
}
.leCentreDe {
  align-self: stretch;
  font-size: var(--font-size-2xl);
  line-height: 27px;
  color: var(--greyblue);
}
.enSavoirPlus {
  font-size: var(--healine-6-size);
  line-height: 32px;
  font-weight: 600;
  font-family: var(--healine-6);
  color: var(--light-level-1);
  text-align: left;
}
.buttonPrimary {
  cursor: pointer;
  border: 1px solid var(--prim-light);
  padding: var(--padding-5xs) var(--padding-13xl);
  background-color: transparent;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #174269, #3e6392);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nosDpartementsDe {
  position: relative;
  font-size: var(--healine-6-size);
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 600;
  font-family: var(--healine-6);
  color: var(--overdark);
  text-align: left;
}
.buttonSecondary,
.row {
  display: flex;
  flex-direction: row;
}
.buttonSecondary {
  cursor: pointer;
  border: 1px solid var(--overdark);
  padding: var(--padding-5xs) var(--padding-13xl);
  background-color: transparent;
  border-radius: var(--br-31xl);
  align-items: center;
  justify-content: flex-start;
}
.row {
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.content {
  gap: var(--gap-13xl);
}
.content,
.heroNoImage,
.smallContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.smallContainer {
  border-radius: var(--br-base);
  padding: var(--padding-13xl);
  box-sizing: border-box;
  min-width: 300px;
  z-index: 1;
}
.heroNoImage {
  overflow: hidden;
  padding: var(--padding-21xl) var(--padding-5xl) 0;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-35xl);
}
.title {
  margin: 0;
  width: 560px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.image2Icon {
  width: 166.8px;
  position: relative;
  height: 64px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.logoSlider11 {
  flex-direction: row;
  justify-content: center;
}
.content1,
.logoSlider11,
.logos {
  display: flex;
  align-items: center;
}
.logos {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-45xl);
}
.content1 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 800px;
}
.slideLeftIcon {
  width: 13.3px;
  position: relative;
  height: 23.6px;
  object-fit: contain;
}
.arrowCont,
.arrowPlacement {
  display: flex;
  flex-direction: row;
}
.arrowPlacement {
  width: 800px;
  height: 150px;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 800px;
}
.arrowCont {
  align-self: stretch;
  height: 0;
  align-items: center;
  justify-content: center;
}
.logoSlider,
.logoSlider1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logoSlider1 {
  overflow: hidden;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-5xl) 0;
  gap: var(--gap-13xl);
}
.logoSlider {
  align-items: flex-start;
  color: var(--secondary);
}
.nosDepartements {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 25px;
  font-weight: 700;
  font-family: inherit;
  z-index: 0;
}
.depTitleChild {
  width: 1181px;
  position: absolute;
  margin: 0 !important;
  top: 90.5px;
  left: -270.5px;
  border-top: 1px solid var(--secondary);
  box-sizing: border-box;
  height: 1px;
  min-width: 300px;
  max-width: 1180px;
  z-index: 1;
}
.lunitEstStructure {
  margin: 0;
}
.lunitEstStructureContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
}
.depTitle,
.lunitEstStructureEn4DWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lunitEstStructureEn4DWrapper {
  background-color: var(--white);
  flex-direction: row;
  padding: 0 var(--padding-base);
  z-index: 2;
  text-align: center;
  font-size: var(--title2-size);
  color: var(--dark-blue);
}
.depTitle {
  flex-direction: column;
  position: relative;
  gap: var(--gap-base);
}
.frameChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-lg);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.departementInner {
  align-self: stretch;
  border-radius: var(--br-5xl);
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.photonique {
  color: var(--color-steelblue-100);
}
.dpartementPhotonique,
.leDpartementPhotonique {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.leDpartementPhotonique {
  font-size: var(--title5-size);
  line-height: 20px;
  font-weight: 300;
  font-family: var(--title5);
  color: var(--dark-blue);
}
.departement,
.dpartementPhotoniqueParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dpartementPhotoniqueParent {
  align-self: stretch;
  padding: 0 var(--padding-5xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.departement {
  width: 292px;
  border-radius: var(--br-5xl);
  background-color: var(--white);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  height: 426px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 var(--padding-base);
  min-width: 292px;
  max-width: 594px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--grass);
  font-family: var(--font-oswald);
}
.nanoLectronique {
  margin: 0;
  color: var(--color-steelblue-100);
}
.dpartementPhotonique2 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
}
.depContainer,
.depList {
  align-self: stretch;
  display: flex;
}
.depList {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.depContainer {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}
.vectorIcon {
  width: 8px;
  position: relative;
  height: 14.2px;
  object-fit: contain;
}
.vectorWrapper {
  width: 32px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--white);
  box-sizing: border-box;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonPrimary1,
.departements {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.buttonPrimary1 {
  cursor: pointer;
  border: 1px solid var(--prim-light);
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-13xl);
  background-color: transparent;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #174269, #3e6392);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.departements {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  gap: var(--gap-13xl);
  text-align: left;
  color: var(--secondary);
}
.actuTitleChild {
  width: 1181px;
  position: absolute;
  margin: 0 !important;
  top: 27.5px;
  left: -0.5px;
  border-top: 1px solid var(--secondary);
  box-sizing: border-box;
  height: 1px;
  z-index: 0;
}
.lactualitDuLaboratoireWrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xs);
  z-index: 1;
}
.actuTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.actualits,
.div {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.div {
  color: var(--overdark);
}
.actuHeader,
.actuTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.actuTab {
  background-color: var(--white);
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--title5-size);
  color: var(--secondary);
}
.actuHeader {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.mPostCardGridChild {
  width: 342px;
  position: relative;
  border-radius: var(--br-base-2);
  height: 228px;
  object-fit: cover;
}
.text {
  position: relative;
  line-height: 19px;
  font-weight: 500;
}
.aBadge {
  border-radius: var(--br-7xs-7);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.799999952316284px var(--padding-3xs-5);
  color: var(--color-steelblue-100);
}
.title1 {
  position: relative;
  font-size: var(--font-size-3xl-8);
  line-height: 26.6px;
}
.heading,
.title1,
.title2 {
  align-self: stretch;
}
.title2 {
  position: relative;
  font-size: var(--font-size-base-2);
  line-height: 19px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.199999809265137px;
}
.author,
.image {
  position: relative;
}
.image {
  width: 34.2px;
  border-radius: var(--br-7xl-6);
  border: 0.9px solid var(--grass);
  box-sizing: border-box;
  height: 34.2px;
}
.author {
  line-height: 22.8px;
  font-weight: 500;
}
.aAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 11.399999618530273px;
  z-index: 0;
}
.vectorIcon1 {
  width: 9.6px;
  position: absolute;
  margin: 0 !important;
  top: 8.6px;
  left: 12.3px;
  height: 17.1px;
  object-fit: contain;
  z-index: 1;
}
.shortInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-lgi);
  font-size: var(--font-size-xs-4);
  color: var(--green);
}
.content2,
.mPostCardGrid {
  display: flex;
  flex-direction: column;
}
.content2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.599999904632568px;
  gap: var(--gap-lgi);
}
.mPostCardGrid {
  width: 372.4px;
  border-radius: var(--br-3xl-8);
  background-color: var(--white);
  border: 0.9px solid var(--primary-25);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 15.199999809265137px;
  gap: 15.199999809265137px;
  text-align: left;
  font-size: var(--font-size-sm-3);
  color: var(--secondary-800);
  font-family: var(--title5);
}
.mPostCardGridItem {
  width: 376.2px;
  position: relative;
  border-radius: 16.72px;
  height: 250.8px;
  object-fit: cover;
}
.text1 {
  position: relative;
  line-height: 20.9px;
  font-weight: 500;
}
.aBadge1 {
  border-radius: 6.27px;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.179999828338623px 10.449999809265137px;
  color: var(--color-steelblue-100);
}
.title3,
.title4 {
  align-self: stretch;
  position: relative;
  font-size: 25.1px;
  line-height: 29.26px;
}
.title4 {
  font-size: 16.7px;
  line-height: 20.9px;
}
.heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.719999313354492px;
}
.image1 {
  width: 37.6px;
  position: relative;
  border-radius: 29.26px;
  border: 1px solid var(--grass);
  box-sizing: border-box;
  height: 37.6px;
}
.author1 {
  position: relative;
  line-height: 25.08px;
  font-weight: 500;
}
.aAuthor1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12.539999961853027px;
  z-index: 0;
}
.vectorIcon2 {
  width: 10.6px;
  position: absolute;
  margin: 0 !important;
  top: 9.4px;
  left: 13.5px;
  height: 18.8px;
  object-fit: contain;
  z-index: 1;
}
.shortInfo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 20.899999618530273px;
  font-size: 12.5px;
  color: var(--green);
}
.content3,
.mPostCardGrid1 {
  display: flex;
  flex-direction: column;
}
.content3 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.359999656677246px;
  gap: 20.899999618530273px;
}
.mPostCardGrid1 {
  width: 409.6px;
  border-radius: 25.08px;
  background-color: var(--white);
  border: 1px solid var(--primary-25);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 16.719999313354492px;
  gap: 16.719999313354492px;
  text-align: left;
  font-size: 14.6px;
  color: var(--secondary-800);
  font-family: var(--title5);
}
.mPostCardGridInner {
  width: 324.9px;
  position: relative;
  border-radius: 14.44px;
  height: 216.6px;
  object-fit: cover;
}
.text2 {
  position: relative;
  line-height: 18.05px;
  font-weight: 500;
}
.aBadge2 {
  border-radius: 5.41px;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.609999895095825px 9.024999618530273px;
  color: var(--color-steelblue-100);
}
.title5,
.title6 {
  align-self: stretch;
  position: relative;
  font-size: 21.7px;
  line-height: 25.27px;
}
.title6 {
  font-size: 14.4px;
  line-height: 18.05px;
}
.heading2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.4399995803833px;
}
.image2 {
  width: 32.5px;
  position: relative;
  border-radius: 25.27px;
  border: 0.9px solid var(--grass);
  box-sizing: border-box;
  height: 32.5px;
}
.author2 {
  position: relative;
  line-height: 21.66px;
  font-weight: 500;
}
.aAuthor2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10.829999923706055px;
  z-index: 0;
}
.vectorIcon3 {
  width: 9.1px;
  position: absolute;
  margin: 0 !important;
  top: 8.1px;
  left: 11.7px;
  height: 16.2px;
  object-fit: contain;
  z-index: 1;
}
.content4,
.shortInfo2 {
  display: flex;
  justify-content: flex-start;
  gap: 18.049999237060547px;
}
.shortInfo2 {
  flex-direction: row;
  align-items: center;
  position: relative;
  font-size: 10.8px;
  color: var(--green);
}
.content4 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.21999979019165px;
}
.actuList,
.mPostCardGrid2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mPostCardGrid2 {
  width: 353.8px;
  border-radius: 21.66px;
  background-color: var(--white);
  border: 0.9px solid var(--primary-25);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 14.4399995803833px;
  gap: 14.4399995803833px;
  text-align: left;
  font-size: 12.6px;
  color: var(--secondary-800);
  font-family: var(--title5);
}
.actuList {
  flex-direction: row;
  gap: 20px;
}
.frameChild1,
.rectangleDiv {
  width: 48px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  height: 10px;
}
.frameChild1 {
  width: 20px;
  background-color: var(--grass);
}
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actuComponent,
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.actuComponent {
  border-radius: var(--br-base);
  padding: 0 var(--padding-13xl);
  gap: var(--gap-21xl);
}
.section {
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl) 132px;
  font-size: var(--title2-size);
}
.layer1Child {
  position: absolute;
  height: 73.52%;
  width: 73.46%;
  top: 13.28%;
  right: -0.33%;
  bottom: 13.2%;
  left: 26.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cigleIcon,
.txtIcon {
  position: relative;
  overflow: hidden;
}
.cigleIcon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}
.txtIcon {
  width: 172.8px;
  height: 72.2px;
  flex-shrink: 0;
}
.logoL,
.logtype {
  display: flex;
  justify-content: flex-start;
}
.logtype {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.logoL {
  position: absolute;
  height: 15.04%;
  width: 51.17%;
  top: 42.58%;
  right: 8.98%;
  bottom: 42.38%;
  left: 39.84%;
  flex-direction: column;
  align-items: flex-start;
}
.title7 {
  position: relative;
  line-height: 13px;
  font-weight: 300;
}
.iconsLogosSimpleInsta {
  width: 24px;
  position: relative;
  height: 24px;
}
.iconsLogosSimpleYoutu,
.vectorIcon4 {
  width: 17.9px;
  position: relative;
  height: 24px;
}
.iconsLogosSimpleYoutu {
  width: 24px;
  object-fit: cover;
  display: none;
}
.socialLogos {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
}
.social,
.socialLogos,
.socialWrapper {
  display: flex;
  justify-content: flex-start;
}
.social {
  width: 221px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.socialWrapper {
  position: absolute;
  top: 323px;
  left: 211px;
  height: 88px;
  flex-direction: column;
  align-items: flex-start;
}
.layer1 {
  width: 512px;
  position: absolute;
  margin: 0 !important;
  top: -118px;
  left: -170px;
  height: 512px;
  z-index: 0;
}
.desciption {
  width: 280px;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  color: var(--white);
  display: inline-block;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.infojstemplatenet {
  color: var(--white);
}
.email {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.span1 {
  color: var(--secondary-800);
}
.contact2,
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact2 {
  gap: var(--gap-9xs);
  color: var(--grass);
}
.info {
  width: 289px;
  gap: var(--gap-5xl);
}
.enUnClic,
.link {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.link {
  font-weight: 300;
}
.footerLinks {
  align-self: stretch;
  color: var(--white);
}
.column,
.column1,
.content5,
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  width: 199px;
  gap: var(--gap-9xs);
}
.column,
.column1 {
  width: 168px;
}
.column1 {
  width: 178px;
}
.title8 {
  width: 64.7px;
  position: relative;
  line-height: 13px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.title9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 11px;
  text-transform: uppercase;
}
.titleContainer {
  width: 44px;
  position: relative;
  height: 11px;
}
.column2,
.social1 {
  width: 199px;
  display: flex;
  justify-content: flex-start;
}
.social1 {
  height: 20px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-13xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--body-b4-medium-size);
  color: var(--grass);
  font-family: var(--font-oswald);
}
.column2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.column3 {
  flex: 1;
  height: 96px;
}
.columns,
.smallColumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.smallColumns {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0 var(--padding-311xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 1240px;
}
.columns {
  align-self: stretch;
  justify-content: center;
}
.text3 {
  position: relative;
  line-height: 150%;
}
.copyright,
.textParent {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.textParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.copyright {
  padding: var(--padding-9xl) 0 var(--padding-xs);
}
.columnsParent,
.copyright,
.copyrightWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyrightWrapper {
  width: 100%;
  flex-direction: row;
  max-width: 1240px;
  font-size: var(--font-size-xs);
  color: var(--light-level-1);
  font-family: var(--healine-6);
}
.columnsParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
  z-index: 1;
  font-size: var(--title5-size);
  color: var(--secondary);
  font-family: var(--title5);
}
.footer,
.webPage {
  position: relative;
  display: flex;
}
.footer {
  align-self: stretch;
  background-color: var(--overdark);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-45xl) var(--padding-5xl) var(--padding-5xs);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--body-b4-medium-size);
  color: var(--white);
  font-family: var(--font-oswald);
}
.webPage {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--healine-6-size);
  color: var(--dark-blue);
  font-family: var(--title5);
}
@media screen and (max-width: 1200px) {
  .menuIcon {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .navList {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
    display: block;
  }
  .mainNav {
    align-items: center;
    justify-content: flex-end;
  }
}
