.cigleIcon,
.txtIcon {
  position: relative;
  overflow: hidden;
}
.cigleIcon {
  height: 77px;
  width: 77.1px;
  flex-shrink: 0;
  min-height: 77px;
}
.txtIcon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}
.numberCruncher {
  height: 74.6px;
  width: 172.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.3999999999998636px;
  box-sizing: border-box;
}
.logoL,
.logtype {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logtype {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-end;
  gap: 11.999999999999886px;
}
.logoL {
  height: 77px;
  align-items: flex-start;
  z-index: 1;
}
.layerVisibilityManagerChild {
  height: 376.4px;
  width: 376.1px;
  position: absolute;
  margin: 0 !important;
  top: -255px;
  right: -81.7px;
  object-fit: cover;
}
.title {
  position: relative;
  line-height: 13px;
  font-weight: 300;
  display: inline-block;
  min-width: 64px;
}
.iconsLogosSimpleInsta {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.closeoutProcedureIcon,
.iconsLogosSimpleYoutu {
  height: 24px;
  width: 17.9px;
  position: relative;
  min-height: 24px;
}
.iconsLogosSimpleYoutu {
  width: 24px;
  object-fit: cover;
  display: none;
}
.projectCalendar,
.social,
.socialLogos {
  display: flex;
  justify-content: flex-start;
}
.socialLogos {
  height: 24px;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 75.09999999999991px 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.projectCalendar,
.social {
  align-self: stretch;
}
.social {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.projectCalendar {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}
.layerVisibilityManager {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  position: relative;
}
.guideGenerator,
.layerVisibilityManager,
.spacingManager,
.symbolInstance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.symbolInstance {
  width: 235px;
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.guideGenerator,
.spacingManager {
  align-self: stretch;
}
.spacingManager {
  flex-direction: column;
  gap: var(--gap-9xl);
}
.guideGenerator {
  flex: 1;
  flex-direction: row;
}
.text,
.text1 {
  position: relative;
  line-height: 150%;
}
.text1 {
  display: inline-block;
  min-width: 46px;
}
.layerLinker,
.rounder,
.rulerCreator {
  display: flex;
  justify-content: flex-start;
}
.layerLinker {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xs);
  color: var(--light-level-1);
  font-family: var(--font-inter);
}
.rounder,
.rulerCreator {
  flex-direction: column;
}
.rounder {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-26xl);
}
.rulerCreator {
  height: 282px;
  width: 317px;
  align-items: flex-start;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-oswald);
}
.contact {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
}
.desciption {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 300;
}
.infojstemplatenet {
  color: var(--white);
}
.email {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.span {
  color: var(--secondary-800);
}
.span1 {
  color: var(--white);
}
.phone {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.emailParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--grass);
}
.layerMerger {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
  color: var(--white);
}
.blendingModes,
.blendingModesWrapper,
.layerMerger {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blendingModes {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.blendingModesWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-13xl);
}
.text2,
.text3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 66px;
}
.text3 {
  min-width: 96px;
}
.frameParent,
.shapeComposer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shapeComposer {
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xs);
  color: var(--light-level-1);
  font-family: var(--font-inter);
}
.frameParent {
  width: 321px;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-53xl);
  max-width: 100%;
}
.enUnClic {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.annuaire,
.direction,
.espaceMembres,
.organigramme,
.seRendreAu,
.services,
.wikiInformation {
  margin: 0;
}
.link {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 300;
}
.footerLinks {
  align-self: stretch;
  color: var(--white);
}
.column,
.content,
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  width: 199px;
  gap: var(--gap-9xs);
}
.column {
  width: 168px;
  padding: 0;
  box-sizing: border-box;
}
.column1 {
  height: 96px;
  width: 1px;
  display: none;
}
.laScienceDu {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.annuaire1,
.direction1,
.espaceMembres1,
.organigramme1,
.seRendreAu1,
.services1,
.wikiInformation1 {
  margin: 0;
}
.link1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 300;
}
.footerLinks1 {
  align-self: stretch;
  color: var(--white);
}
.column2,
.content1,
.footerLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  width: 199px;
  gap: var(--gap-9xs);
}
.column2 {
  width: 178px;
  padding: 0;
  box-sizing: border-box;
}
.proposDuC2n {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 500;
}
.evnements,
.faitsMarquants,
.onParleDu,
.prixEtDistinctions {
  margin: 0;
}
.link2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 300;
  color: var(--white);
}
.accessibilityFeatures {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.title1 {
  flex: 1;
  position: relative;
  line-height: 13px;
  font-weight: 300;
  flex-shrink: 0;
  debug_commit: 2554057;
}
.en {
  color: var(--white);
}
.title2 {
  position: relative;
  line-height: 11px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 44px;
  flex-shrink: 0;
  debug_commit: 2554057;
}
.budgetTracking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.projectMonitoring {
  width: 132.7px;
  flex-direction: row;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
  color: var(--grass);
  font-family: var(--font-oswald);
}
.commentingSystem,
.footer,
.projectMonitoring {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.commentingSystem {
  width: 199px;
  flex-direction: column;
  gap: var(--gap-12xl-5);
}
.footer {
  align-self: stretch;
  background-color: var(--overdark);
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-12xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--title5-size);
  color: var(--secondary);
  font-family: var(--title5);
}
@media screen and (max-width: 1300px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    gap: 32px 16px;
  }
}
@media screen and (max-width: 450px) {
  .rounder {
    gap: 22px 45px;
  }
  .frameParent {
    gap: 36px 72px;
  }
  .footer {
    padding-top: var(--padding-33xl);
    box-sizing: border-box;
  }
}
