.heroNoImageChild {
  width: 1384.6px;
  height: 998.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 762.8px);
  left: calc(50% - 692.3px);
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ebf5fa,
    #ebf5fa 18.5%,
    #f1faff 55.5%,
    rgba(241, 250, 255, 0) 94.5%
  );
}
.matriaux,
.nanolectronique,
.nanophotonique {
  color: var(--secondary);
}
.span {
  white-space: pre-wrap;
}
.microsystmes,
.nanoBioTechnologies {
  color: var(--secondary);
}
.leCentreDe,
.recherchesEnMatriauxContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  font-family: inherit;
}
.recherchesEnMatriauxContainer {
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
}
.leCentreDe {
  font-size: var(--font-size-2xl);
  line-height: 27px;
  font-weight: 400;
  color: var(--greyblue);
}
.buttonPrimary {
  height: 48px;
  width: 319px;
}
.buttonSecondary {
  height: 48px;
  flex: 1;
  min-width: 214px;
  max-width: 100%;
}
.row {
  width: 659px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.content,
.heroNoImage,
.smallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.heroNoImage,
.smallContainer {
  box-sizing: border-box;
}
.smallContainer {
  width: 1242px;
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 99px;
  border-radius: var(--br-base);
  padding: var(--padding-13xl);
  z-index: 1;
}
.heroNoImage {
  align-self: stretch;
  height: 471px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-21xl) var(--padding-5xl) 0;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-35xl);
  color: var(--dark-blue);
  font-family: var(--title5);
}
@media screen and (max-width: 800px) {
  .recherchesEnMatriauxContainer {
    font-size: var(--font-size-24xl);
    line-height: 46px;
  }
  .heroNoImage {
    height: auto;
    min-height: 471;
  }
}
@media screen and (max-width: 450px) {
  .recherchesEnMatriauxContainer {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .leCentreDe {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
}
