.title {
  width: 560px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
}
.image2Icon {
  height: 64px;
  width: 166.8px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.logo,
.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  flex: 1;
  flex-direction: row;
}
.logoWrapper {
  height: 64px;
  flex-direction: column;
}
.image2Icon1 {
  height: 64px;
  width: 173.3px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.logo1,
.logoWrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo1 {
  flex: 1;
  flex-direction: row;
}
.logoWrapper1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  flex-direction: column;
}
.image1Icon {
  height: 64px;
  width: 161.7px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.logo2,
.logoWrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo2 {
  flex: 1;
  flex-direction: row;
}
.logoWrapper2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  flex-direction: column;
}
.vectorIcon {
  height: 23.6px;
  width: 13.3px;
  position: absolute;
  margin: 0 !important;
  top: 24px;
  left: 1060.5px;
  object-fit: contain;
}
.content,
.logos {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 318.20000000000005px 0 397.0999999999999px;
  position: relative;
  gap: var(--gap-29xl);
}
.content {
  flex-direction: column;
}
.vectorIcon1 {
  width: 13.3px;
  height: 23.6px;
  position: absolute;
  margin: 0 !important;
  top: 143px;
  left: 322.3px;
  object-fit: contain;
  z-index: 1;
}
.logoSlider {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--secondary);
  font-family: var(--title5);
}
@media screen and (max-width: 1300px) {
  .logos {
    padding-left: var(--padding-179xl);
    padding-right: var(--padding-140xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .logos {
    gap: var(--gap-5xl);
    padding-left: var(--padding-80xl);
    padding-right: var(--padding-60xl);
    box-sizing: border-box;
  }
  .logoSlider {
    gap: 16px 32px;
  }
}
@media screen and (max-width: 450px) {
  .logos {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
