.scoreCalculator {
  width: 1181px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 0;
  border-top: 1px solid var(--secondary);
  box-sizing: border-box;
}
.lactualitDuLaboratoire {
  margin: 0;
  width: 504px;
  position: relative;
  font-size: inherit;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.actuTitle,
.clusterAnalyzer {
  display: flex;
  justify-content: flex-start;
}
.clusterAnalyzer {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 324px;
  background-color: var(--white);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
  z-index: 1;
}
.actuTitle {
  align-self: stretch;
  height: 46px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.actualits {
  min-width: 66px;
}
.actualits,
.agenda,
.sequenceHandler {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}
.sequenceHandler {
  color: var(--overdark);
  min-width: 5px;
}
.agenda {
  min-width: 50px;
}
.actuTab {
  background-color: var(--white);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.actuHeader,
.actuTabWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.actuTabWrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--title5-size);
  color: var(--secondary);
}
.actuHeader {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.mPostCardGridChild {
  align-self: stretch;
  height: 228px;
  position: relative;
  border-radius: var(--br-base-2);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.layerProcessor {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 106px;
}
.aBadge {
  border-radius: var(--br-7xs-7);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.800000000000182px var(--padding-3xs-5) 3.799999999999727px;
  white-space: nowrap;
  color: var(--color-steelblue-100);
}
.title {
  position: relative;
  font-size: var(--font-size-3xl-8);
  line-height: 26.6px;
}
.heading,
.title,
.title1 {
  align-self: stretch;
}
.title1 {
  position: relative;
  font-size: var(--font-size-base-2);
  line-height: 19px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.200000000000044px;
}
.author,
.image {
  position: relative;
}
.image {
  height: 34.2px;
  width: 34.2px;
  border-radius: var(--br-7xl-6);
  border: 0.9px solid var(--grass);
  box-sizing: border-box;
}
.author {
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.gradientDescent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.599999999999909px 0 0;
}
.aAuthor,
.vectorIcon {
  position: absolute;
  margin: 0 !important;
}
.aAuthor {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11.399999999999864px;
  width: 100%;
  height: 100%;
}
.vectorIcon {
  height: 17.1px;
  width: 9.6px;
  top: 8.6px;
  left: 12.3px;
  object-fit: contain;
  z-index: 1;
}
.shortInfo {
  width: 107.6px;
  height: 34.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-lgi);
  font-size: var(--font-size-xs-4);
  color: var(--green);
}
.content {
  align-self: stretch;
  padding: 7.599999999999909px 7.599999999999909px 7.600000000000364px
    7.600000000000136px;
  gap: var(--gap-lgi);
}
.connectionManager,
.content,
.mPostCardGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mPostCardGrid {
  align-self: stretch;
  border-radius: var(--br-3xl-8);
  background-color: var(--white);
  border: 0.9px solid var(--primary-25);
  overflow: hidden;
  padding: 15.199999999999818px var(--padding-sm);
  gap: 15.200000000000273px;
}
.connectionManager {
  width: 372.4px;
  padding: var(--padding-39xl-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.mPostCardGridItem {
  align-self: stretch;
  height: 250.8px;
  position: relative;
  border-radius: 16.72px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text {
  position: relative;
  font-size: var(--font-size-mini-6);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--title5);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
  min-width: 117px;
}
.aBadge1 {
  cursor: pointer;
  border: 0;
  padding: 4.200000000000273px 10.400000000000093px 4.199999999999818px;
  background-color: var(--color-mediumslateblue);
  border-radius: 6.27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.aBadge1:hover {
  background-color: var(--color-royalblue);
}
.title2,
.title3 {
  align-self: stretch;
  position: relative;
  line-height: 29.26px;
}
.title3 {
  font-size: var(--font-size-base-7);
  line-height: 20.9px;
}
.heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.700000000000045px;
}
.image1 {
  height: 37.6px;
  width: 37.6px;
  position: relative;
  border-radius: 29.26px;
  border: 1px solid var(--grass);
  box-sizing: border-box;
}
.author1 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.subtreeMerger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.799999999999727px 0 0;
}
.aAuthor1,
.treeBalancerIcon {
  position: absolute;
  margin: 0 !important;
}
.aAuthor1 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.500000000000227px;
  width: 100%;
  height: 100%;
}
.treeBalancerIcon {
  height: 18.8px;
  width: 10.6px;
  top: 9.4px;
  left: 13.5px;
  object-fit: contain;
  z-index: 1;
}
.content1,
.mPostCardGrid1,
.shortInfo1 {
  display: flex;
  justify-content: flex-start;
}
.shortInfo1 {
  width: 118.2px;
  height: 37.6px;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 20.899999618530273px;
  font-size: var(--font-size-smi-5);
  color: var(--green);
}
.content1,
.mPostCardGrid1 {
  flex-direction: column;
  align-items: flex-start;
}
.content1 {
  align-self: stretch;
  padding: 8.400000000000091px 8.300000000000182px 8.299999999999727px
    8.399999999999864px;
  gap: 20.90000000000009px;
}
.mPostCardGrid1 {
  flex: 1;
  border-radius: 25.08px;
  background-color: var(--white);
  border: 1px solid var(--primary-25);
  box-sizing: border-box;
  overflow: hidden;
  padding: 16.699999999999818px var(--padding-base) 16.800000000000182px;
  gap: 16.699999999999818px;
  min-width: 266px;
  max-width: 100%;
  font-size: var(--font-size-6xl-1);
}
.treeVisualizerIcon {
  align-self: stretch;
  height: 216.6px;
  position: relative;
  border-radius: 14.44px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.inputCollector {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 101px;
}
.aBadge2 {
  border-radius: 5.41px;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.600000000000364px var(--padding-4xs) 3.5999999999994543px;
  white-space: nowrap;
  color: var(--color-steelblue-100);
}
.title4,
.title5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xl-7);
  line-height: 25.27px;
}
.title5 {
  font-size: var(--font-size-mini-4);
  line-height: 18.05px;
}
.heading2,
.image2 {
  box-sizing: border-box;
}
.heading2 {
  align-self: stretch;
  height: 230.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 87.39999999999964px;
  gap: 14.450000000000273px;
}
.image2 {
  height: 32.5px;
  width: 32.5px;
  position: relative;
  border-radius: 25.27px;
  border: 0.9px solid var(--grass);
}
.author2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
}
.errorHandler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.199999999999818px 0 0;
}
.aAuthor2,
.treeStructureIcon {
  position: absolute;
  margin: 0 !important;
}
.aAuthor2 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.799999999999956px;
  width: 100%;
  height: 100%;
}
.treeStructureIcon {
  height: 16.2px;
  width: 9.1px;
  top: 8.1px;
  left: 11.7px;
  object-fit: contain;
  z-index: 1;
}
.shortInfo2 {
  width: 102.3px;
  height: 32.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 18.049999237060547px;
  font-size: var(--font-size-2xs-8);
  color: var(--green);
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  padding: 7.199999999999818px 7.199999999999818px 7.199999999999818px
    7.2000000000000455px;
  gap: 18.100000000000364px;
}
.actuList,
.content2,
.mPostCardGrid2,
.treeOptimizer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mPostCardGrid2 {
  align-self: stretch;
  flex: 1;
  border-radius: 21.66px;
  background-color: var(--white);
  border: 0.9px solid var(--primary-25);
  overflow: hidden;
  flex-direction: column;
  padding: 14.400000000000093px var(--padding-smi) 14.400000000000093px
    var(--padding-mini-5);
  gap: var(--gap-mini-5);
}
.actuList,
.treeOptimizer {
  max-width: 100%;
}
.treeOptimizer {
  height: 623px;
  width: 353.8px;
  flex-direction: column;
  padding: var(--padding-49xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-smi-6);
}
.actuList {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm-3);
  color: var(--secondary-800);
}
.algorithmDesign {
  height: 100%;
  width: 48px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
}
.algorithmDesign1,
.algorithmDesign2 {
  height: 10px;
  width: 20px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--grass);
}
.matrixManipulation {
  width: 104px;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-5xs);
}
.graphConnection,
.matrixManipulation,
.patternMatcher {
  display: flex;
  align-items: flex-start;
}
.graphConnection {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.patternMatcher {
  flex: 1;
  border-radius: var(--br-base);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: calc(100% - 75px);
  text-align: center;
  font-size: var(--title2-size);
  color: var(--dark-blue);
  font-family: var(--title5);
}
@media screen and (max-width: 800px) {
  .lactualitDuLaboratoire {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .connectionManager,
  .treeOptimizer {
    padding-top: var(--padding-19xl);
    box-sizing: border-box;
  }
  .treeOptimizer {
    padding-top: var(--padding-25xl);
  }
  .patternMatcher {
    gap: 20px 40px;
  }
}
@media screen and (max-width: 450px) {
  .lactualitDuLaboratoire {
    font-size: var(--font-size-6xl);
    line-height: 28px;
  }
  .title {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .title2 {
    font-size: var(--font-size-xl);
    line-height: 23px;
  }
  .title4 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
}
