@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --healine-6: Inter;
  --font-oswald: Oswald;
  --title5: Ubuntu;
  --body-b4-medium: "Work Sans";

  /* font sizes */
  --font-size-xs: 12px;
  --body-b4-medium-size: 16px;
  --title5-size: 14px;
  --font-size-xs-4: 11.4px;
  --font-size-base-2: 15.2px;
  --font-size-3xl-8: 22.8px;
  --font-size-sm-3: 13.3px;
  --title2-size: 42px;
  --healine-6-size: 18px;
  --font-size-5xl: 24px;
  --font-size-2xl: 21px;
  --font-size-35xl: 54px;

  /* Colors */
  --white: #fff;
  --light-level-1: #fefefe;
  --dark-blue: #061e42;
  --secondary-800: #181a2a;
  --overdark: #111212;
  --grass: #98cc4c;
  --secondary: #7db928;
  --color-yellowgreen-100: rgba(125, 185, 40, 0.5);
  --color-yellowgreen-200: rgba(125, 185, 40, 0.25);
  --primary: #164369;
  --primary-25: rgba(22, 67, 105, 0.25);
  --green: #127045;
  --color-mediumslateblue: rgba(75, 107, 251, 0.05);
  --prim-light: #3e6392;
  --color-steelblue-100: #174269;
  --color-steelblue-200: rgba(23, 66, 105, 0.25);
  --greyblue: #6c7275;
  --color-aliceblue: #eef8fd;
  --secondary-400: #97989f;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-mini-4: 14.4px;
  --gap-lg: 18px;
  --gap-base-7: 16.7px;
  --gap-xl-9: 20.9px;
  --gap-base-2: 15.2px;
  --gap-lgi: 19px;
  --gap-xs-4: 11.4px;
  --gap-3xs: 10px;
  --gap-45xl: 64px;
  --gap-6xs: 7px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-311xl: 330px;
  --padding-13xl: 32px;
  --padding-base-2: 15.2px;
  --padding-5xs-6: 7.6px;
  --padding-9xs-8: 3.8px;
  --padding-3xs-5: 9.5px;
  --padding-31xl: 50px;
  --padding-21xl: 40px;
  --padding-40xl: 59px;
  --padding-xl: 20px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-base: 16px;
  --br-3xs: 10px;
  --br-3xl-8: 22.8px;
  --br-7xl-6: 26.6px;
  --br-7xs-7: 5.7px;
  --br-base-2: 15.2px;
  --br-31xl: 50px;
  --br-5xl: 24px;
  --br-lg: 18px;
}
